:root {
  --base-color: grey;
  --action-color: red;
  --card-padding: 1rem;
}

.favourite-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.favourite-button__icon path {
  fill: none;
  stroke: var(--base-color);
  stroke-width: 1;
  transition:
    stroke 0.3s ease,
    fill 0.3s ease;
}

.favourite-button__btn--is-active .favourite-button__icon path {
  fill: var(--action-color);
  stroke: var(--action-color);
}

.favourite-button:hover .favourite-button__icon path {
  stroke: var(--action-color);
}
